* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Red Hat Text', serif;
}

.container {
	text-align: center;
	color: #333;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
	background-size: cover;
	background-position: center;
	gap: 20px;
	background-attachment: fixed;
}
h1 {
	font-weight: 700;
	font-size: 48px;
}
a {
	display: inline-block;
	padding: 16px 56px;
	background-color: #333;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	font-weight: 700;
	letter-spacing: 0.5px;
	font-size: 14px;
}

.second {
	background-image: url(https://images.unsplash.com/photo-1514496959998-c01c40915c5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
	/* background-attachment: fixed; */
	height: 1200px;
	flex-direction: row;
	gap: 26px;
}

.item {
	display: flex;
	max-width: 320px;
	background-color: white;
	flex-direction: column;
	align-items: center;
	border-radius: 0.5em;
	-webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
	box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
	padding: 20px;

	img {
		width: 100%;
		height: 200px;
	}

	h3 {
		font-weight: 700;
		font-size: 26px;
		margin-top: 16px;
	}

	p {
		margin-top: 24px;
		line-height: 24px;
		padding: 16px;
		margin-bottom: 24px;
	}
}

.third {
	background-image: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
	background-attachment: fixed;
	height: 100vh;

	.content {
		background-color: rgba(255, 255, 255, 0.9);
		padding: 32px;
		border-radius: 16px;
		max-width: 600px;

		h2 {
			font-weight: 700;
			font-size: 40px;
			margin-bottom: 8px;
			color: #333;
		}

		p {
			margin-bottom: 24px;
			line-height: 24px;
			padding: 16px;
		}
	}
}
